<div class="row">
  <div class="col-md-12">
    <h2>Mobile Counseling</h2>
  </div>
</div>
<div class="row">
      <div class="col-md-12">
        <button id="btnstartcall" name="btnstartcall" class="btn btn-success" (click)="onClickStartCall()">Start Call</button>
        <button id="btnjoincall" name="btnjoincall" class="btn btn-primary" (click)="onClickJoinCall()">Join Call</button>
        <button id="btnstopcall" name="btnstopcall" class="btn btn-danger" (click)="onClickStopCall()">Stop Call</button>
      </div>
</div>
